@import '@fontsource/poppins/400';
@import '@fontsource/poppins/600';
@import '@fontsource/dm-sans/400';
@import '@fontsource/jetbrains-mono/400';
@import 'scss/variables';
@import 'scss/articles';

:root {
  font-family: $font-dm-sans;
}

* {
  margin: 0;
  scroll-padding: 5.5rem; // Nav height + some extra space
}

.main-section {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  justify-content: center;
}

body {
  max-width: 1356px;
  margin: 0 auto;
  background-color: $color-background-primary;
  color: #fff;
}

#svelte {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3 {
  font-weight: 600;
  font-family: $font-header;
}

p {
  font-weight: 400;
  color: $color-text-primary;
}

p {
  line-height: 1.5;
}

a {
  color: $color-accent;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

h2 {
  font-size: 1.25rem;
}

pre {
  font-size: 16px;
  border-radius: 3px;
  box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
  padding: 0.5em;
  overflow-x: auto;
  color: $color-text-primary;
}

input,
button {
  font-size: inherit;
  font-family: inherit;
}

button:focus:not(:focus-visible) {
  outline: none;
}

@media (min-width: 720px) {
  h2 {
    font-size: 1.5rem;
  }
}

iframe.markdown-youtube-video,
iframe.markdown-youtube-playlist {
  width: 100%;
  aspect-ratio: 16 / 9;
  max-width: 800px;
}
