@import '@fontsource/poppins/400';
@import '@fontsource/poppins/600';
@import '@fontsource/dm-sans/400';
@import 'scss/variables';

:root {
  font-family: $font-dm-sans;
}

* {
  margin: 0;
}

body {
  max-width: 1356px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: $background-primary;
  color: #fff;
}

body::before {
  content: '';
  width: 80vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 10vw;
  z-index: -1;
  opacity: 0.05;
}

#svelte {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3 {
  font-weight: 600;
  font-family: $font-header-text;
}

p {
  font-weight: 400;
  color: $color-primary-text;
}

p {
  line-height: 1.5;
}

a {
  color: $accent-color;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
}

pre {
  font-size: 16px;
  border-radius: 3px;
  box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
  padding: 0.5em;
  overflow-x: auto;
  color: $color-primary-text;
}

input,
button {
  font-size: inherit;
  font-family: inherit;
}

button:focus:not(:focus-visible) {
  outline: none;
}

@media (min-width: 720px) {
  h1 {
    font-size: 2.4rem;
  }
  h2 {
    font-size: 2.5rem;
    line-height: 46px;
  }
}
