@import 'src/scss/variables.scss';

// Separated because styles in the <style> tag doesn't apply to elements inserted using @html

article {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: left;
    margin-bottom: 0.5em;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  h5 {
    font-size: 1rem;
  }

  h6 {
    font-size: 1rem;
    color: $color-muted-text;
  }

  & > :is(p, ol, ul, blockquote, pre, table) {
    margin-bottom: 1rem;
  }

  & > :is(p, ol, ul, blockquote, pre, table):last-child {
    margin-bottom: 0;
  }

  li {
    margin-bottom: 0.5rem;
  }

  code {
    font-family: 'JetBrains Mono', monospace;
    border-radius: $rounding-small;
    font-size: 0.75rem;
  }

  blockquote {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: $rounding-small;
    background-color: $color-background-secondary;
    border-left: solid 0.25rem $color-background-tertiary;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }

  p > code {
    background-color: $color-background-secondary;
    padding: 0.125rem 0.25rem;
  }

  pre {
    background-color: $color-background-secondary;
    border: 1px solid $color-background-tertiary;
    box-shadow: none;
    border-radius: $rounding-small;
  }

  img {
    max-width: 100%;
    max-height: 50vh;
    border-radius: $rounding-small;
  }

  table {
    display: block;
    border-spacing: 0;
    border-radius: $rounding-small;
    border: 1px solid $color-background-tertiary;
    width: fit-content;
    max-width: 100%;
    overflow: auto;

    th {
      background-color: $color-background-tertiary;
    }

    tbody tr:nth-child(2n) {
      background-color: $color-background-secondary;
    }

    th,
    td {
      text-align: left;
      padding: 0.5rem 2.5rem 0.5rem 0.5rem;
    }
  }
}
