@import 'src/scss/variables';

@mixin big-title {
  padding: 1.25rem;

  .title {
    font-size: 1.5rem;
    line-height: 2.375rem;
  }
}

@mixin little-title {
  padding: 0.75rem;

  .title {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 100%;
  gap: 0.75rem;

  .card:hover {
    text-decoration: none;
  }

  .content {
    @include big-title;
    width: 100%;
    margin-top: auto;
    z-index: 1;

    .title {
      font-family: $font-poppins;
      color: white;
      font-weight: bold;
      margin-top: 0.25rem;
      word-wrap: anywhere;
      hyphens: auto; // For some reason this gets ignored on words with any capital letters

      &:hover {
        text-decoration: underline;
      }
    }

    .last-row-container {
      display: flex;
      justify-content: space-between;
      align-items: end;
      width: 100%;
    }
  }

  &.max-cols-3 {
    @media (min-width: 420px) {
      .content {
        @include little-title;
      }
    }

    @media (min-width: 560px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: 840px) {
      .content {
        @include big-title;
      }
    }
  }

  &.max-cols-4 {
    @media (min-width: 420px) {
      grid-template-columns: repeat(2, 1fr);
      .content {
        @include little-title;
      }
    }

    @media (min-width: 640px) {
      .content {
        @include big-title;
      }
    }

    @media (min-width: 840px) {
      grid-template-columns: repeat(4, 1fr);
      .content {
        @include little-title;
      }
    }

    @media (min-width: 1100px) {
      .content {
        @include big-title;
      }
    }
  }
}

.card {
  position: relative;
  display: flex;
  border-radius: $rounding-large;
  background-size: 100%;
  background-position: center;
  transition: $transition-long;
  aspect-ratio: var(--aspect-ratio);

  &.loading {
    background-color: $color-background-secondary;
  }

  &:hover {
    background-size: 110%;
  }

  &:not(.loading):after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: $rounding-large;
    background: linear-gradient(180deg, rgba(69, 64, 136, 0) 0%, #000000 100%);
  }
}
