$color-background-primary: #222222;
$color-background-secondary: #303030;
$color-background-tertiary: #444444;
$color-text-primary: #ffffff;
$color-text-secondary: #aeaeae;
$color-muted-text: #999999;
$color-accent: #00a87e;
$color-danger-red: #e95d4e;
$color-warning-yellow: #f39c12;
$color-info-blue: #3498db;
$color-success-green: #00bc8c;
$color-bsaber-purple: #454088;
$color-difficulty-green: #008055;
$color-difficulty-blue: #1268a1;
$color-difficulty-orange: #bd5500;
$color-difficulty-red: #b52a1c;
$color-difficulty-purple: #7646af;
$color-beatsaver-pink: #ff008f;
$font-poppins: Poppins, sans-serif;
$font-dm-sans: DM Sans, sans-serif;

$rounding-small: 4px;
$rounding-large: 10px;
$navbar-height: 75px;

$font-primary: $font-dm-sans;
$font-header: $font-poppins;

$transition-short: 0.15s;
$transition-long: 0.5s;
