$background-primary: #222222;
$background-secondary: #303030;
$background-tertiary: #444444;
$accent-color: #009670;
$text-secondary: #aeaeae;
$rounding: 4px;
$color-danger-red: #e74c3c;
$color-muted-text: #999999;
$color-warning-yellow: #f39c12;
$color-info-blue: #3498db;
$color-success-green: #00bc8c;
$color-card-headers: #444444;
$color-primary-text: #ffffff;
$color-muted-text: #999999;
$navbar-height: 75px;
$font-poppins: Poppins, sans-serif;
$font-dm-sans: DM Sans, sans-serif;

$font-primary-text: $font-dm-sans;
$font-header-text: $font-poppins;
